apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
name: argo-learning
nodes:
- role: control-plane
  extraPortMappings:
  # ArgoCD UI
  # NOTE: Must patch the service to use this port:
  # kubectl patch svc \
  # argocd-server -n argocd \
  #  -p '{"spec": {"type": "NodePort", "ports": [{"port": 443, "nodePort": 30443}]}}'
  - containerPort: 30443  # Changed from 443
    hostPort: 8080
    protocol: TCP
  # Argo Workflows UI 
  - containerPort: 32746  # Changed from 2746
    hostPort: 2746
    protocol: TCP
